$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "Skeleton-Sass/scss/skeleton.scss";
@import "design-blue/scss/design-blue.scss";
// endbower
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700italic,900italic,700,500italic,500,400italic,300,100italic,100,300italic);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
