<!--

#============================ LAHS ============================#

    Developed with <3 by Matthew Struble < matt@vevox.io >
           Made from scratch, the way it should be.

                        Myra ta Hayzel
               Pal, Kifitae te Entra en na Loka.

#=============================================================#

-->
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body ng-app="mediaArtProjectApp" ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="carousel">
      <div class="buttons">
        <div ng-repeat="item in carousels.main">
          <input type="radio" name="carouselMain" id="carouselMainSlide{{$index}}"
            ng-model="$carousel.main" value="{{$index}}" checked>
          <label for="carouselMainSlide{{$index}}"></label>
        </div>
      </div>

      <div class="carousel-img" ng-repeat="item in carousels.main" ng-show="$carousel.main == $index"
        style="{{item.img &amp;&amp; 'background-image: url('+item.img+')'}}">
        <div class="content">
          <h1 ng-bind="item.title"></h1>
          <p ng-bind="item.desc" class="delayed"></p>
        </div>
      </div>
    </div>

    <nav>
      <div class="left">
        <a href="#/" class="brand">Media in Art</a>
        <a href="#/works">Works</a>
      </div>

      <div class="right">
        <a href="javascript:void()" class="fa fa-heart" style="color: yellowgreen"></a>
        <a href="https://github.com/Griffin-Code/media-art-site" target="_blank" class="fa fa-github"></a>
        <a href="javascript:void()" class="fa fa-bars"></a>
      </div>
    </nav>

    <div ng-view=""></div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-holderjs/src/holder.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/holderjs/holder.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
